language : bash
env:
    global:
      - secure: jZ/wZL9cimUznSktIp6UYhOdF7qM1VoApn7tUN4SOZG03SL/pYSieEYiLI1VSYxbmBcQprDZyn+QsrljEzs0X1SVbKaeCGwKUNZTzOr+YuAkK5/4WcvV/XRKLbSt6wfqORYLL/KuXrQl/YB3VnLb92c3MIYMbC+3C7Gcs0bkrZ8xTlRA93UUIjuGmr66RYrjk5fLNLG9jrzK5b/rs7jFr8fHbjkGUFvWgbmbbBqpmxk0XZDVCok/JE7k7W/eMA4nT9LXG0RaDlGwhZ1ZC5IqIC0unZSbby1dmSXedgoi3RhmDKFgMd9niC87ZvTuyUU0GoIdevIg7tqT+KeyEMCotDjGebUIl/SNGwbap5gPkgb+z7DbhRWQhxsExydxcDxZ5pEH9Rv6hwdYQ512LsQb9xl1vgrnc0F6S9Bp10Qkky629Zuv6RTcEzFYPV0QG+vhdpWzL3jc+jCIi555lLhJ1P0BQvWXYMZ5+5nTFOqQyLtaD0YgBxhNOmUExGXMoEfIp6aMWdM8FujHTDmjg4zSMeZQ0GT2iq9K62/5Lmj5WFyK0zbQm2Zh92nY3vsghK+hL016LdQ+sPOU0++ng6S9BALYxi7ogT42mivY8viqKALqvibL9MyaDiEQongFPQhuw4tj03A8lLY+TSGfWyPz0x7Gbr8yXqahRpKw7fGptY8=
      - secure: aD3Pxh7g1q2kg4mYejE83IjwSAEtlzLwJliwN+vnb1cz9WG8MkHoSeK94fX1rNuuTpKKjpKh7VCZDIh+nDcjW1Gghde9XkOElLv+TR1hn61JkWqOwspVo8BC5YB4DnyspUdxryAQSKUW0PDLdrFoZR467LBI1XsXWLAA9kIDOZq+Q4dF6yrprYORGc9sxTw6tOGwcCACyB6EgiKEJKJCMg1l23KWqtHirUpXu7qz6DLgZJBG6IxtBNCbOH2lUr6ogwlvRAUq8NCQCJH9zfMvmMj170GIimItnyu4WwDHtnSZgQO6dd21E/AnRB1enNZ7+J6cr34HozbbHbXDS4fohv1boHbcE/tAL515AIfSLkcIPf0hI+Y1fRFWTlrva7mdcjp6lsjLdmKbR3sQKZHRdzGCqxFwC7tfumZl0bgCAv0gO1BrSN/ysPkwUeMfU1wdU+lpeJyt55AXKdmF709bXwHx3lTyuiSMOf/TrnCvFSzDi+ii9YkJ9a2JkYdTAB+62yu1yuffxWvEf30mb5PLso0qDdCM8YzBq3Kip28URrnDeUQ4E7uYJjyUGmML1hqKk2ufYe38UIsq66NOp1nImunqyceSq6TeFVJi/1CFrN0e6NIgkyOfcVy4ZfpajQS+h4vneEXfr65Ez4Py2THzFoP+hWEqFAQVRwLxHkd0eBI=
branches:
  except:
  - nightly
git:
  quiet: true
before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y debhelper devscripts fakeroot build-essential po-debconf
    - openssl aes-256-cbc -K $encrypted_2155243bff9e_key -iv $encrypted_2155243bff9e_iv -in 077CC9F2.gpg.enc -out 077CC9F2.gpg -d
    - gpg --import 077CC9F2.gpg
install:
    - debuild '-k9D1DC8DD077CC9F2'
deploy:
    - provider: releases
      skip_cleanup: true
      file_glob: true
      file: "../*.deb"
      api_key:
          secure: "aDlvYA1kmDLiLRMUDTqpJB0vJyOG+nW+0mSU8YRkmFBFIbBa9/wG/rrneemSzFWUB3cef+U5/GihAGvxaBZ2Z8PA8LnZfASYplyZ3AZCFdlK5glxZRif3M1mp3DcoowX4tz7Sw2n+F/M82NjEWFUhoUdvnBR8Eb5kFb5uhkEMQ0ahBJPb6kv9PnApaohOtNN74X80dfKWM+1tyosAyWozWgi+x0wP2zztaPaLxtWU0JhRYCwpZyZY236JkKwb4vRiQ+ILBs6rrEEEAU5cLpW6ZIZNCSxPoGun7wTEQjEI3hUawQ9EHOZDOHbPnrSMXlzVD391qpnWOfVKRhrt58jB9wJJ5RUcGLctcIVGj8jUsrQ+6KXzuYi6xHBRLYCb9rlLa8qM8k1sO8XX88GCpZJNLIhWnyQO7EgW0XtGGEvY8slo9rKb92axCqHCym4W0dP87HQLHiIe2k0lTGMVUkH78zf2JC/l+Vf2uDhFJ35iDiOfATBkfgXe9rB6nyLP4Nn+KtqdGbTgXlBvI7SpGuX5mLmffIa8Gm5PbMHtnmymuLJj527O81XYgV5hQSNFR/FW/WvX9Wm0hxGBtIN1HOJeXhdHx6PzlHtguwXX3m4VwLzt2BrxxApRnXFSMcJ1WDOnOf+3pWNCWiZs7ywHWVIEc+z13XqBnsG2sPXmwnLzQA="
      on:
          tags: true
    - provider: releases
      skip_cleanup: true
      file_glob: true
      file: "../*.deb"
      tag_name: "nightly"
      prerelease: true
      overwrite: true
      body: Automatic build of $TRAVIS_BRANCH ($TRAVIS_COMMIT) built by Travis CI on $(date +'%F %T %Z').
      target_commitish: $TRAVIS_COMMIT
      api_key:
          secure: "aDlvYA1kmDLiLRMUDTqpJB0vJyOG+nW+0mSU8YRkmFBFIbBa9/wG/rrneemSzFWUB3cef+U5/GihAGvxaBZ2Z8PA8LnZfASYplyZ3AZCFdlK5glxZRif3M1mp3DcoowX4tz7Sw2n+F/M82NjEWFUhoUdvnBR8Eb5kFb5uhkEMQ0ahBJPb6kv9PnApaohOtNN74X80dfKWM+1tyosAyWozWgi+x0wP2zztaPaLxtWU0JhRYCwpZyZY236JkKwb4vRiQ+ILBs6rrEEEAU5cLpW6ZIZNCSxPoGun7wTEQjEI3hUawQ9EHOZDOHbPnrSMXlzVD391qpnWOfVKRhrt58jB9wJJ5RUcGLctcIVGj8jUsrQ+6KXzuYi6xHBRLYCb9rlLa8qM8k1sO8XX88GCpZJNLIhWnyQO7EgW0XtGGEvY8slo9rKb92axCqHCym4W0dP87HQLHiIe2k0lTGMVUkH78zf2JC/l+Vf2uDhFJ35iDiOfATBkfgXe9rB6nyLP4Nn+KtqdGbTgXlBvI7SpGuX5mLmffIa8Gm5PbMHtnmymuLJj527O81XYgV5hQSNFR/FW/WvX9Wm0hxGBtIN1HOJeXhdHx6PzlHtguwXX3m4VwLzt2BrxxApRnXFSMcJ1WDOnOf+3pWNCWiZs7ywHWVIEc+z13XqBnsG2sPXmwnLzQA="
      on:
          branch: test-deploy
before_deploy:
    - git tag -d nightly || true
    - git remote add gh https://${TRAVIS_GITHUB_API_USERNAME}:${TRAVIS_GITHUB_API_KEY}@github.com/AlternC/alternc-certbot.git
    - git push --delete gh nightly || true